<main class="text-center h-full mt-10">
  <.h1>Welcome to Spectrum</.h1>
  <.link href={~p"/dashboard"}>
    <.button>Dashboard</.button>
  </.link>

  <div class="mt-4 bg-cover h-full p-4 bg-center rounded-xl bg-[linear-gradient(to_bottom,rgba(0,0,0,0),rgba(0,0,0,1)),url('/images/landing.png')]">
  </div>
</main>
